SQL_SA_PASSWORD=ChangeThis_Strong_Password_123!
JWT_ISSUER=AdvaitServices
JWT_AUDIENCE=AdvaitServices
JWT_SIGNING_KEY=replace-with-at-least-32-characters-production-secret
JIOCX_BASE_URL=https://rcsapi-uat.jiocx.com
QUEUE_ENABLED=true
QUEUE_BATCH_SIZE=20
QUEUE_MAX_ATTEMPTS=4
QUEUE_POLL_SECONDS=10
